/* Global styles */
body {
    background-image: url('Background/onepieceBack.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fix the background image */
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures full viewport height */
}

h1 {
    margin-left: 20px;
    color: #F0F421;
}

/* Styles for bottom boxes */
.bottom-boxes {
    display: flex;
    justify-content: space-around; /* Adjust alignment as needed */
    margin-top: auto; /* Pushes boxes to the bottom */
    width: 100%; /* Ensures boxes span full width */
    position: relative; /* To position children absolutely */
}

.bottom-boxes > div {
    width: 278px; /* Adjust width to fit five boxes within viewport */
    height: 184px; /* Adjust height as needed */
    background-size: cover; /* Ensure the image covers the entire box */
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 20px; /* Space between each box */
    overflow: hidden; /* Ensure image doesn't overflow the box */
    transition: transform 0.3s ease; /* Smooth transition for transform */
}

.bottom-boxes > div:hover {
    transform: translateY(-10px) scale(1.1); /* Moves the image up by 10px and increases size by 10% */
}

.box-3 {
    transform: translateY(-20px) scale(1.2); /* Initial state for box 3 */
    position: absolute;
    bottom: 50px; /* Distance from the bottom of the webpage */
}

.bottom-boxes img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    object-fit: cover; /* Ensure the image covers the entire box */
}

.footer {
    width: 1920px;
    height: 336px;
    background: linear-gradient(to top, black -2%, transparent 62%);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.sidebox {
    width: 912px;
    height: 1080px;
    background: linear-gradient(to right, black -2%, transparent 62%);
    position: fixed;
    left: 0;
    z-index: -1;
}

#nextBtn {
    position: absolute;
    top: 20px; /* Distance from the top of the screen */
    right: 20px; /* Distance from the right side of the screen */
    padding: 10px 20px;
    font-size: 16px;
    z-index: 10;
}
