/* Global styles */
body {
    background-image: url('Background/onepieceBack.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fix the background image */
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures full viewport height */
}

h1 {
    margin-left: 20px;
    color: #F0F421;
}

/* Styles for bottom boxes */
.bottom-boxes {
    display: flex;
    justify-content: space-around; /* Adjust alignment as needed */
    margin-top: auto; /* Pushes boxes to the bottom */
    width: 100%; /* Ensures boxes span full width */
}

.bottom-boxes .box {
    width: 278px; /* Adjust width to fit five boxes within viewport */
    height: 184px; /* Adjust height as needed */
    background-size: cover; /* Ensure the image covers the entire box */
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* Space between each box */
}

.bottom-boxes .box-1,
.bottom-boxes .box-2,
.bottom-boxes .box-3,
.bottom-boxes .box-4,
.bottom-boxes .box-5 {
    width: 278px; /* Adjust width to fit five boxes within viewport */
    height: 184px; /* Adjust height as needed */
    background-size: cover; /* Ensure the image covers the entire box */
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 20px; /* Space between each box */
    overflow: hidden; /* Ensure image doesn't overflow the box */
}

.bottom-boxes .box-3 {
    width: 369px; /* Width of the middle box */
    height: 218px; /* Height of the middle box */
    margin-top: -30px; /* Move the middle box up */
}

.bottom-boxes img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    object-fit: cover; /* Ensure the image covers the entire box */
}

.footer {
    width: 1920px;
    height: 336px;
    background: linear-gradient(to top, black -2%, transparent 62%);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.sidebox{
    width: 912px;
    height: 1080px;
    background: linear-gradient(to right, black -2%, transparent 62%);
    position: fixed;
    left: 0;
    z-index: -1;
}